# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtualenvs
.venv/
venv/
AI_Service/

# OS / Editor
.DS_Store
*.log

# Data / artifacts
*.pth
data/

# Reports: include only specific outputs
Report/*
!Report/report.pdf
!Report/MNIST_upload.png
!Report/MNIST_result.png

AI_Service_in_Container.docx
